*~
__pycache__/
.pycache/

__TRASH__/

# SECRET
config.yaml

out/
resources/

cli_history
review.json

dev-test/

notes/NOTES-JS.md
notes/notes.md
notes/query-example.md
notes/upload.md
notes/wikijs.sh

TODO-2025.md
TODO.md

setenv.sh
setup.cfg
setup.py
setup_data.py

uv.lock
